/SDK_6.0.14.1114/**
/DA145xx_SDK/**
/sdk/**
ble_uart.uvguix.*
JLinkLog.txt
/src/out/**
src/EventRecorderStub.scvd
/tests/out/**
tool/venv_ble/bin/**
tool/venv_ble/lib/**
tool/venv_ble/share/**
tool/venv_ble/lib64
/src/secondary_bootloader/out*
/src/secondary_bootloader/out_DA14585/**
/src/secondary_bootloader/*.intl
/src/secondary_bootloader/bin
*.intl
*.crf
*.d
*.o
*.dep
*.lnp
out/*

tool/venv_ble/__pycache__/**
