/SDK_6.0.14.1114/**
/DA145xx_SDK/**
/sdk/**
ble_uart.uvguix.*
JLinkLog.txt
/src/out/**
src/EventRecorderStub.scvd
/tests/out/**
tool/venv_ble/bin/**
tool/venv_ble/lib/**
tool/venv_ble/share/**
tool/venv_ble/lib64
